.chevron {
    -fx-pref-height: 50px; /* height should be double border */
    -fx-background-color: transparent; /* ensure background is transparent */
    -fx-padding: 0; /* no padding */
}

.chevron-part {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-border-style: solid;
    -fx-border-width: 25px; /* adjust size */
    -fx-border-color: transparent; /* start transparent */
}

.chevron-part.top {
    -fx-border-top-color: #b00; /* Chevron Color */
}

.chevron-part.bottom {
    -fx-border-top-color: #fff; /* Match background color */
    -fx-layout-y: -10px; /* adjust thickness */
}
